body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  width: 80%;
}

.one-bg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  background-color: red;
}

.two-bg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  background-color: red;
}

.three-bg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  background-color: red;
}

.color0 {
  background-color: blue;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: green;
}

.shape00 {
  background-image: url('oval-hollow.png');
}

.shape10 {
  background-image: url('rect-hollow.png');
}

.shape20 {
  background-image: url('diamond-hollow.png');
}

.shape01 {
  background-image: url('oval-full.png');
}

.shape11 {
  background-image: url('rect-full.png');
}

.shape21 {
  background-image: url('diamond-full.png');
}

.shape02 {
  background-image: url('oval-striped.png');
}

.shape12 {
  background-image: url('rect-striped.png');
}

.shape22 {
  background-image: url('diamond-striped.png');
}


.pattern-container {
  display: flex;
  flex-grow: 1;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
}
.board-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.square {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /* background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('diamond.png'); */
  flex-grow: 1;
  background-color: #12d;
}
